.back{
    /* background-image: url("./img/photo-1596436889106-be35e843f974.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center; */
    /* padding-top: ; */
    background: url(./img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  .back-inside {
    background: url(./img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .backpic {
background-position: center;  
background-origin: border-box;
background-repeat: no-repeat;
background-size: contain;
  }


  .back4 {
    background: url(./img/banner3.jpg) no-repeat center center ;
    background-size: cover;
  }

  .back5 {
    background: url(./img/banner4.jpg) no-repeat center center ;
    background-size: cover;
  }

  .button {
    
    transition: 0.5s ease-in-out;
  }
  .button:hover {
  /* background-color:rgb(65, 57, 43) ; */
  background-color: red;
  }  

.bg {
  background: url(./img/tie-icon.png) no-repeat center center fixed;
  background-size: cover;
}

.icon {
  position: relative;
  border-radius: 100%;
  /* border-color: black; */

  transition-duration: 1500ms;

}  

.icon:hover {
  transform: rotate(360deg);
}

.icon::before {
  content: "";
  position: absolute;
  background-color: blue;
  top: 50%;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  /* transform: rotate(180deg);
   */
   transition-duration: 700ms;
}
.icon::before:hover {
  transform: rotate(180deg);

}









.icon-right {
  position: relative;
  border-radius: 100%;
  /* border-color: black;
  border-width: 2px; */
  transition-duration: 1500ms;

}  

.icon-right:hover {
  transform: rotate(360deg);
}

.icon-right::before {
  content: "";
  position: absolute;
  background-color: blue;
  top: 50%;
  right: -3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  /* transform: rotate(180deg);
   */
   transition-duration: 700ms;
}
.icon-right::before:hover {
  transform: rotate(180deg);

}